<!-- Full screen mode (driven by service) -->
<div class="global-loader-overlay" *ngIf="!inline && (loaderService.loaderState$ | async)?.isLoading">
  <div class="global-loader-content">
    <div class="bouncing-loader-wrapper">
      <div class="bouncing-loader-circle"></div>
      <div class="bouncing-loader-circle"></div>
      <div class="bouncing-loader-circle"></div>
      <div class="bouncing-loader-shadow"></div>
      <div class="bouncing-loader-shadow"></div>
      <div class="bouncing-loader-shadow"></div>
    </div>
    <div class="global-loader-message mt-3">{{ (loaderService.loaderState$ | async)?.message }}</div>
  </div>
</div>

<!-- Inline mode (driven by parent component) -->
<ng-container *ngIf="inline">
    <div class="bouncing-loader-wrapper" style="transform: scale(0.4);">
      <div class="bouncing-loader-circle"></div>
      <div class="bouncing-loader-circle"></div>
      <div class="bouncing-loader-circle"></div>
      <div class="bouncing-loader-shadow"></div>
      <div class="bouncing-loader-shadow"></div>
      <div class="bouncing-loader-shadow"></div>
    </div>
</ng-container>
