node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore uploaded images
uploads/**/*
!uploads/.gitkeep

# Ignore specific master seed file
master.seed.ts