-- AlterTable
ALTER TABLE "grades" ADD COLUMN     "master_grade_id" UUID;

-- AlterTable
ALTER TABLE "practice_attempts" ADD COLUMN     "academic_year_id" UUID;

-- AlterTable
ALTER TABLE "student_assessment_attempts" ADD COLUMN     "academic_year_id" UUID;

-- AlterTable
ALTER TABLE "student_group_mapping" ADD COLUMN     "academic_year_id" UUID;

-- AlterTable
ALTER TABLE "student_profiles" ALTER COLUMN "academic_birth" SET DATA TYPE DATE,
ALTER COLUMN "date_of_birth" SET DATA TYPE DATE;

-- AlterTable
ALTER TABLE "subject_groups" ADD COLUMN     "master_grade_id" UUID;

-- AlterTable
ALTER TABLE "subjects" ADD COLUMN     "master_grade_id" UUID;

-- AlterTable
ALTER TABLE "topic_activations" ADD COLUMN     "academic_year_id" UUID;

-- CreateTable
CREATE TABLE "master_grades" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "sort_order" INTEGER NOT NULL DEFAULT 0,
    "organization_id" UUID NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "master_grades_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "master_grades_organization_id_idx" ON "master_grades"("organization_id");

-- CreateIndex
CREATE UNIQUE INDEX "master_grades_name_organization_id_key" ON "master_grades"("name", "organization_id");

-- CreateIndex
CREATE INDEX "topic_activations_academic_year_id_idx" ON "topic_activations"("academic_year_id");

-- CreateIndex
CREATE INDEX "topic_activations_organization_id_academic_year_id_idx" ON "topic_activations"("organization_id", "academic_year_id");

-- AddForeignKey
ALTER TABLE "master_grades" ADD CONSTRAINT "master_grades_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "grades" ADD CONSTRAINT "grades_master_grade_id_fkey" FOREIGN KEY ("master_grade_id") REFERENCES "master_grades"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subjects" ADD CONSTRAINT "subjects_master_grade_id_fkey" FOREIGN KEY ("master_grade_id") REFERENCES "master_grades"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "topic_activations" ADD CONSTRAINT "topic_activations_academic_year_id_fkey" FOREIGN KEY ("academic_year_id") REFERENCES "academic_years"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "practice_attempts" ADD CONSTRAINT "practice_attempts_academic_year_id_fkey" FOREIGN KEY ("academic_year_id") REFERENCES "academic_years"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "student_assessment_attempts" ADD CONSTRAINT "student_assessment_attempts_academic_year_id_fkey" FOREIGN KEY ("academic_year_id") REFERENCES "academic_years"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subject_groups" ADD CONSTRAINT "subject_groups_master_grade_id_fkey" FOREIGN KEY ("master_grade_id") REFERENCES "master_grades"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "student_group_mapping" ADD CONSTRAINT "student_group_mapping_academic_year_id_fkey" FOREIGN KEY ("academic_year_id") REFERENCES "academic_years"("id") ON DELETE CASCADE ON UPDATE CASCADE;

