<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-03.svg);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h5 class="welcome-msg"> Create New Password </h5>
          <p class="auth-signup-text text-muted">Set a secure password</p>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input matInput formControlName="newPassword" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon class="material-icons-outlined pwd-toggle p-3" matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  @if (authForm.get('newPassword')?.hasError('required') || authForm.get('newPassword')?.touched) {
                  <mat-error>
                    Password is required
                  </mat-error>
                  }
                  @if (authForm.get('newPassword')?.hasError('minlength')) {
                  <mat-error>
                    Password must be at least 6 characters
                  </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            @if (error) {
            <div class="alert alert-danger mt-3 mb-0">{{error}}</div>
            }
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="accent" class="auth-form-btn" [class.auth-spinner]="loading" [disabled]="!authForm.valid || loading" type="submit">
                Set Password
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin" class="txt1">
                  Back to login
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
