<section class="content">
    <div class="content-block">
        @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        }
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Apply For Leave</h2>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Leave Type</mat-label>
                                        <mat-select formControlName="leaveType" required>
                                            <mat-option value="medical">Medical Leave</mat-option>
                                            <mat-option value="casual">Casual Leave</mat-option>
                                            <mat-option value="sick">Sick Leave</mat-option>
                                            <mat-option value="maternity">Maternity Leave</mat-option>
                                            <mat-option value="paternity">Paternity Leave</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Start Date</mat-label>
                                        <input matInput [matDatepicker]="startPicker" formControlName="startDate"
                                            required>
                                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #startPicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>End Date</mat-label>
                                        <input matInput [matDatepicker]="endPicker" formControlName="endDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #endPicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Reason</mat-label>
                                        <textarea matInput formControlName="reason" rows="3" required></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="btn-space" [disabled]="!leaveForm.valid" mat-flat-button
                                        color="primary">Submit Application</button>
                                    <button type="button" mat-flat-button class="formCancelBtn">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>