<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div id="mail-nav">
              <button type="button" class="btn btn-success waves-effect m-b-15" routerLink="/email/compose"
                title="Compose">COMPOSE</button>
              <ul class="" id="mail-folders">
                <li class="active">
                  <a [routerLink]="['/email/inbox']" [state]="{folder: 'inbox'}" title="Inbox">Inbox</a>
                </li>
                <li>
                  <a [routerLink]="['/email/inbox']" [state]="{folder: 'sent'}" title="Sent">Sent</a>
                </li>
                <li>
                  <a [routerLink]="['/email/inbox']" [state]="{folder: 'drafts'}" title="Draft">Draft</a>
                </li>
                <li>
                  <a [routerLink]="['/email/inbox']" [state]="{folder: 'trash'}" title="Bin">Bin</a>
                </li>
                <li>
                  <a href="javascript:;" title="Important">Important</a>
                </li>
                <li>
                  <a href="javascript:;" title="Starred">Starred</a>
                </li>
              </ul>
              <h5 class="b-b p-10 text-strong">Labels</h5>
              <ul class="" id="mail-labels">
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-red">local_offer</i>Family</a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-blue">local_offer</i>Work</a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-orange">local_offer</i>Shop</a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-cyan">local_offer</i>Themeforest</a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-blue-grey">local_offer</i>Google</a>
                </li>
              </ul>
              <h5 class="b-b p-10 text-strong">Online</h5>
              <ul class="online-user" id="online-offline">
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-green" title="Online">brightness_1</i>Sachin</a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-indigo" title="Off Line">brightness_1</i>John
                    Smith
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-orange" title="Away">brightness_1</i>Askay</a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-indigo" title="Off Line">brightness_1</i>Dhavan</a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="material-icons col-indigo" title="Off Line">brightness_1</i>Lee</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th colspan="1">
                      <div class="inbox-header">
                        Compose New Message
                      </div>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <form class="composeForm" (ngSubmit)="sendMail('SENT')">
                  <div class="form-line">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>TO</mat-label>
                      <input matInput type="text" [formControl]="receiverControl" [matAutocomplete]="auto"
                        id="email_address">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser">
                        @for (user of filteredUsers$ | async; track user.id) {
                        <mat-option [value]="user">
                          {{ user.name }} ({{ user.email }})
                        </mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="form-line">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Subject</mat-label>
                      <input matInput id="subject" name="subject" [(ngModel)]="subject">
                    </mat-form-field>
                  </div>
                  <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu [editor]="editor!" [toolbar]="toolbar!"> </ngx-editor-menu>
                    <ngx-editor [editor]="editor!" [(ngModel)]="html" name="html" [placeholder]="'Type here...'"
                      class="NgxEditorStyles"></ngx-editor>
                  </div>
                  <div class="compose-editor m-t-20">
                    <div id="summernote"></div>
                    <div class="m-b-10">
                      <input type="file" class="default" multiple (change)="onFilesSelected($event)">
                    </div>
                    @if (selectedFiles.length > 0) {
                      <div class="attachments-preview">
                        <ul class="list-group">
                          @for (file of selectedFiles; track file.name; let i = $index) {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <span>
                                <i class="material-icons text-muted" style="vertical-align: middle; font-size: 18px;">insert_drive_file</i>
                                {{ file.name }}
                                <span class="text-muted" style="font-size: 12px; margin-left: 5px;">({{ formatBytes(file.size) }})</span>
                              </span>
                              <button mat-icon-button color="warn" (click)="removeFile(i)" title="Remove attachment" [disabled]="isUploading">
                                <mat-icon style="font-size: 18px;">close</mat-icon>
                              </button>
                            </li>
                          }
                        </ul>
                      </div>
                    }
                  </div>
                  <div class="m-l-25 m-b-20">
                    <button type="submit" mat-flat-button color="primary" class="msr-2" [disabled]="isUploading">
                      {{ isUploading ? 'Sending...' : 'Send' }}
                    </button>

                    <button type="button" mat-flat-button color="warn" (click)="discard()" [disabled]="isUploading">Discard</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>