<section class="content">
    <div class="content-block">
        @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        }
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Security Settings</h2>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Current Password</mat-label>
                                        <input matInput type="password" formControlName="currentPassword" required>
                                        <mat-icon class="material-icons-outlined color-icon p-3"
                                            matSuffix>lock</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>New Password</mat-label>
                                        <input matInput type="password" formControlName="newPassword" required>
                                        <mat-icon class="material-icons-outlined color-icon p-3"
                                            matSuffix>lock</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput type="password" formControlName="confirmPassword" required>
                                        <mat-icon class="material-icons-outlined color-icon p-3"
                                            matSuffix>lock</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="btn-space" [disabled]="!passwordForm.valid" mat-flat-button
                                        color="warn">Update Password</button>
                                    <button type="button" mat-flat-button class="formCancelBtn">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>