<table mat-table [dataSource]="subjects()" class="mat-elevation-z8">

  <!-- Subject Column -->
  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef>Subject</th>
    <td mat-cell *matCellDef="let subject">{{ subject.subject }}</td>
  </ng-container>

  <!-- Progress Column -->
  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef>Progress</th>
    <td mat-cell *matCellDef="let subject">
      {{ subject.progress | number:'1.0-1' }}%
      @if (subject.progress < 60) {
        <mat-progress-bar mode="determinate" [value]="subject.progress" color="warn"
        ></mat-progress-bar>
      }
      @if (subject.progress >= 60 && subject.progress < 80) {
        <mat-progress-bar mode="determinate" [value]="subject.progress" color="accent"
        ></mat-progress-bar>
      }
      @if (subject.progress >= 80) {
        <mat-progress-bar mode="determinate" [value]="subject.progress" class="mat-progress-bar-success" color="primary"
        ></mat-progress-bar>
      }
    </td>
  </ng-container>

  <!-- Duration Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duration</th>
    <td mat-cell *matCellDef="let subject">{{ subject.duration }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['subject', 'progress', 'duration']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['subject', 'progress', 'duration'];"></tr>
</table>