<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-master-table [title]="'Report Cards'" [columnDefinitions]="columnDefinitions" [dataSource]="dataSource"
          [isLoading]="isLoading" [exportFileName]="'report_cards_export'" [showAdd]="true" [showDelete]="true"
          [showEdit]="true" [showBulkDelete]="true" [showCheckbox]="true" (add)="handleAdd()" (edit)="handleEdit($event)"
          (delete)="handleDelete($event)" (refresh)="handleRefresh()" (bulkDelete)="handleBulkDelete($event)">
        </app-master-table>
      </div>
    </div>
  </div>
</section>
