<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Leave Balance'" [items]="['HR']" [active_item]="'Leave Balance'">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <app-master-table [title]="'Leave Balance'" [dataSource]="dataSource" [columnDefinitions]="columnDefinitions"
            [isLoading]="isLoading" (add)="addNew()" (edit)="editCall($event)" (delete)="handleBulkDelete($event)"
            (refresh)="refresh()" (bulkDelete)="handleBulkDelete($event)" (export)="exportExcel()" [showExport]="true"
            [showContextMenu]="true">
          </app-master-table>
        </div>
      </div>
    </div>
  </div>
</section>