.empty-state-container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
}

.icon-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #adb5bd;

  i {
    font-size: 32px;
  }
}
