<div class="addContainer">
    <div class="modalHeader">
        <div class="avatarDetails">
            <div class="modalTitle">
                {{dialogTitle}}
            </div>
        </div>
        <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="materialForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Upload Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="uploadDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        @if (materialForm.get('uploadDate')?.hasError('required')) {
                        <mat-error>
                            Date is required
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>title</mat-icon>
                        @if (materialForm.get('title')?.hasError('required')) {
                        <mat-error>
                            Title is required
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Class</mat-label>
                        <input matInput formControlName="class" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>school</mat-icon>
                        @if (materialForm.get('class')?.hasError('required')) {
                        <mat-error>
                            Class name required
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Subject</mat-label>
                        <input matInput formControlName="subject" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>book</mat-icon>
                        @if (materialForm.get('subject')?.hasError('required')) {
                        <mat-error>
                            Subject is required
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type" required>
                            <mat-option [value]="'PDF'">PDF</mat-option>
                            <mat-option [value]="'Video'">Video</mat-option>
                            <mat-option [value]="'PPT'">PPT</mat-option>
                            <mat-option [value]="'Doc'">Doc</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>File URL</mat-label>
                        <input matInput formControlName="fileUrl" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>link</mat-icon>
                        @if (materialForm.get('fileUrl')?.hasError('required')) {
                        <mat-error>
                            File URL is required
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-flat-button class="formSubmitBtn" [disabled]="!materialForm.valid"
                            (click)="submit()">Save</button>
                        <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>