<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p><span class="font-weight-bold"> Complaint Title: </span>{{data.complaintTitle}}</p>
      </li>
      <li>
        <p><span class="font-weight-bold"> Complaint Type: </span>{{ data.complaintType }}</p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">Date: </span>{{data.date}}
        </p>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-flat-button class="formCancelBtn" (click)="confirmDelete()">
      Delete
    </button>
    <button mat-flat-button mat-dialog-close color="accent" tabindex="-1">Cancel</button>
  </div>
</div>
